@import 'tailwindcss';

:root {
	font-family:
		'Fira Sans',
		-apple-system,
		'Inter',
		system-ui,
		sans-serif;
	vector-effect: non-scaling-stroke;
	caret-color: var(--p);
}

* {
	text-decoration-thickness: 1.5px;
}

:focus {
	outline: none;
}

.light {
	color-scheme: light;
	--bg: #ffffff;
	--a: #eeeeee;
	--fg: #000000;
	--p-fg: #ffffff;
	--o: #000000;
	--red: #991b1b;
	--s: #d9d9d9;
	background-color: var(--bg);
	color: var(--fg);

	&[data-theme='turquoise'],
	.turquoise {
		--p: #00af9f;
	}
}

.dark {
	color-scheme: dark;
	--bg: #222222;
	--a: #272727;
	--fg: #fafafa;
	--red: #de4e45;
	--o: #444444;
	--s: #313131;
	--p-fg: #222222;
	background-color: var(--bg);
	color: var(--fg);

	&[data-theme='turquoise'],
	.turquoise {
		--p: #00dfdf;
	}
}

[data-theme='red'] {
	--p: #cc0050;
}

[data-theme='orange'] {
	--p: #dd5500;
}

[data-theme='yellow'] {
	--p: #ffdd00;
}

[data-theme='green'] {
	--p: #00aa55;
}

[data-theme='blue'] {
	--p: #00aaff;
}

[data-theme='purple'] {
	--p: #6f33af;
}

.nav-bar * {
	z-index: 20;
}

main * {
	z-index: 10 !important;
}

::selection {
	background-color: var(--p);
	color: var(--p-fg);
}

[data-select-trigger] {
	border: 1px var(--o) solid;
	color: var(--fg);
	border-radius: 0.75rem;
	padding: 0.35rem 0.5rem;
	outline-color: var(--fg);
	display: grid;
	grid-template-columns: 3fr 1fr;
	cursor: pointer;
	width: 10rem;
	margin: auto;
	background-color: var(--bg);
	transition: box-shadow 100ms;
	margin: 0.2rem auto;

	&:hover,
	&:focus {
		box-shadow:
			0 0 0 1.5px var(--bg),
			0 0 0 3.5px var(--p);
	}
}

[data-select-content] {
	width: 10rem;
	border-radius: 0.75rem;
	outline: none;
	height: fit-content;
	background-color: var(--bg);
}

[data-select-item] {
	background-color: var(--bg);
	cursor: pointer;
	padding: 0.35rem 0.5rem;
}

[data-popover-content] * {
	box-shadow: none !important;
}

[data-popover-content] [data-select-trigger]:hover {
	background-color: var(--a);
}

[data-combobox-input] {
	padding: 0.35rem 0.5rem;
	padding-right: 2.3rem;
	width: 12rem;
}

[data-combobox-portal] * {
	z-index: 60 !important;
}

[data-combobox-trigger] {
	position: absolute;
	top: 0.2rem;
	right: 0;
	display: flex;
	height: 37.5px;
	width: 2rem;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
	border: 1px solid var(--o);
	background-color: var(--bg);
	cursor: pointer;
}

.card {
	position: absolute;
	width: fit;
	top: 3rem;
	justify-self: center;
}

input,
textarea {
	border: 1px var(--o) solid;
	color: var(--fg);
	border-radius: 0.75rem;
	background-color: var(--bg);
	transition: box-shadow 100ms;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	resize: none;

	&:focus,
	&:hover {
		box-shadow:
			0 0 0 1.5px var(--bg),
			0 0 0 3.5px var(--p);
	}

	&:focus {
		outline: none;
	}
}

input {
	padding: 0.5rem;

	&:disabled {
		background-color: color-mix(in oklab, var(--fg) 7%, transparent);
		border-color: color-mix(in oklab, var(--fg) 10%, transparent);
		color: color-mix(in oklab, var(--fg) 60%, transparent);
		cursor: not-allowed;
	}

	&[type='datetime-local'] {
		font-size: 0.9rem;
	}
}

textarea {
	padding: 0.35rem;
	line-height: 1.1rem;
}

[data-button-root] {
	background: var(--p);
	color: var(--p-fg);
	padding: 0.5rem 1rem;
	border-radius: 0.75rem;
	cursor: pointer;
	outline: 2px solid var(--p);
	outline-offset: -5px;
	transition: outline-offset 100ms;

	&[href] {
		padding: 0.75rem 1rem;
	}

	&:hover {
		outline-offset: 1px;
	}

	&:disabled,
	&[data-disabled] {
		color: color-mix(in oklab, var(--fg) 50%, transparent);
		background-color: color-mix(in oklab, var(--fg) 10%, transparent);
		opacity: 1;
		cursor: not-allowed;
	}
}

.red-button {
	background-color: var(--red);
	outline-color: var(--red);
}

.gray-button {
	background-color: var(--s);
	outline-color: var(--s);
	color: var(--fg);
}

[data-alert-dialog-overlay] {
	background-color: color-mix(in oklab, #000000 50%, transparent);
	width: 100vw;
	height: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 60;
}

[data-alert-dialog-content] {
	background-color: var(--bg);
	z-index: 70;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	min-width: 25rem;
	width: fit-content;
	height: fit-content;
	padding: 2rem;
	border: 1px solid var(--o);
	border-radius: 1rem;
}

.box {
	margin: auto;
	width: 25rem;
	height: 20rem;
	border: 1px solid var(--o);
	border-radius: 0.75rem;
	padding: 0.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg);
}

.badge {
	width: 6rem;
	border-radius: calc(infinity * 1px);
	padding-inline: 0.75rem;
	padding-block: 0.125rem;
	text-align: center;
	font-size: 1rem;
	color: var(--bg);
}

[data-switch-root] {
	border-radius: calc(infinity * 1px);
	display: inline-flex;
	height: 25px;
	width: 50px;
	flex-shrink: 0;
	cursor: pointer;
	align-items: center;
	padding-left: 4px;
	padding-right: 5px;
	outline: 2px solid var(--p);
	outline-offset: -5px;
	transition:
		background-color 150ms,
		outline-color 150ms,
		outline-offset 100ms;

	&:hover {
		outline-offset: 1px;
	}

	&[data-state='unchecked'] {
		background-color: var(--s);
		outline-color: var(--s);
	}

	&[data-state='checked'] {
		background-color: var(--p);
		outline-color: var(--p);
	}
}

[data-switch-thumb] {
	background-color: var(--bg);
	pointer-events: none;
	display: block;
	width: 20px;
	height: 17px;
	flex-shrink: 0;
	border-radius: calc(infinity * 1px);
	transition: transform 150ms;

	&[data-state='unchecked'] {
		transform: translteX(0);
	}

	&[data-state='checked'] {
		transform: translateX(22px);
	}
}

[data-tabs-list] {
	border-radius: 0.75rem;
	padding: 0.25rem;
	width: fit-content;
	display: flex;
	gap: 0.1rem;
	background-color: var(--s);
	margin: auto;
	margin-bottom: 0.5rem;
}

[data-tabs-trigger] {
	border-radius: 0.5rem;
	padding: 0.25rem 0.75rem;
	cursor: pointer;

	&[data-state='active'] {
		background-color: var(--bg);
		color: var(--fg);
	}
}

.assignment-tabs [data-tabs-trigger] {
	font-size: 1.15rem;
	width: 8rem;
}

.tiptap-container {
	display: inline-block;
	border-radius: 0.85rem;
	padding: 0.5rem;
	background-color: var(--bg);
	border: 1px solid var(--o);
	overflow-x: scroll;
}

.tiptap {
	outline: none;
	padding: 1.5rem;
	width: 14in;
	border-radius: 0.85rem;
	display: inline-block;
	font-size: 20pt;
	caret-color: var(--p);
	position: absolute;
	text-align: left;
	tab-size: 0.5in;
	background-color: var(--bg);
	font-family: 'Georgia', 'Times New Roman', serif;
	min-height: 50rem;
}

.tiptap h1 {
	font-size: 40pt;
	text-align: center;
}

.tiptap h2 {
	font-size: 22pt;
	text-align: center;
}

.tiptap p {
	line-height: 2.3rem;
	margin-bottom: 0.8rem;
	font-size: 14pt;
}

.tiptap hr {
	border: 1px solid var(--fg);
}

.tiptap u::selection {
	text-decoration: underline var(--p-fg);
	text-decoration-thickness: 1.5px;
}

[data-toggle-root] {
	transition:
		background-color 150ms,
		color 150ms,
		outline-color 150ms,
		outline-offset 100ms;

	&[data-state='inactive'] {
		background-color: var(--s) !important;
		color: var(--fg) !important;
		outline-color: var(--s) !important;
	}
}

.toggle-icon {
	height: 2.5rem;
	width: 2.5rem;
	padding: 0 !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

[data-popover-content] {
	z-index: 50 !important;
	border-radius: 0.75rem;
	border: 1px solid var(--o);
	background-color: var(--bg);
	padding: 0.5rem 1rem;
	transition: opacity 1000ms;
}

.swatch {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 1rem;
	background-color: var(--p);
}
