@import 'tailwindcss';

.light {
	color-scheme: light;
	--bg: #ffffff;
	--a: #eeeeee;
	--fg: #000000;
	--p: #00978b;
	--p-fg: #ffffff;
	--o: #000000;
	--red: #991b1b;
	--s: #d9d9d9;
	background-color: var(--bg);
	color: var(--fg);
}

.dark {
	color-scheme: dark;
	--bg: #222222;
	--a: #272727;
	--fg: #fafafa;
	--p: #00dfdf;
	--p-fg: #0a0a0a;
	--red: #de4e45;
	--o: #444444;
	--s: #313131;
	background-color: var(--bg);
	color: var(--fg);
}

.nav-bar * {
	z-index: 20;
}

main * {
	z-index: 10 !important;
}

::selection {
	background-color: var(--p);
	color: var(--p-fg);
}

[data-theme='georgia'],
.georgia {
	--font: 'Georgia';
	font-family: var(--font);
}

[data-theme='monospace'],
.monospace {
	--font: monospace;
	font-family: var(--font);
}

[data-theme='arial'],
.arial {
	--font: 'Arial';
	font-family: var(--font);
}

[data-theme='tahoma'],
.tahoma {
	--font: 'Tahoma';
	font-family: var(--font);
}

[data-theme='trebuchet'],
.trebuchet {
	--font: 'Trebuchet MS';
	font-family: var(--font);
}

[data-theme='system'],
.system {
	--font: system-ui;
	font-family: var(--font);
}

[data-theme='fira'],
.fira {
	--font: Fira Sans, sans-serif;
	font-family: var(--font);
}

:root {
	font-family: var(--font);
	vector-effect: non-scaling-stroke;
	text-decoration-thickness: 1px;
}

* {
	text-decoration-thickness: 1.5px;
}

[data-select-trigger] {
	border: 1px var(--o) solid;
	color: var(--fg);
	border-radius: 0.75rem;
	padding: 0.35rem 0.5rem;
	outline-color: var(--fg);
	display: grid;
	grid-template-columns: 3fr 1fr;
	cursor: pointer;
	width: 10rem;
	margin: auto;
	background-color: var(--bg);
	transition: box-shadow 100ms;
	margin: 0.2rem auto;

	&:hover,
	&:focus {
		box-shadow:
			0 0 0 1.5px var(--bg),
			0 0 0 3.5px var(--p);
	}
}

[data-select-content] {
	width: 10rem;
	border-radius: 0.75rem;
	outline: none;
	height: fit-content;
	background-color: var(--bg);
}

[data-select-item] {
	background-color: var(--bg);
	cursor: pointer;
	padding: 0.35rem 0.5rem;
}

[data-combobox-input] {
	padding: 0.35rem 0.5rem;
	padding-right: 2.3rem;
	width: 12rem;
}

[data-combobox-portal] * {
	z-index: 60 !important;
}

[data-combobox-trigger] {
	position: absolute;
	top: 0.2rem;
	right: 0;
	display: flex;
	height: 37.5px;
	width: 2rem;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
	border: 1px solid var(--o);
	background-color: var(--bg);
	cursor: pointer;
}

.card {
	position: absolute;
	width: fit;
	top: 3rem;
	justify-self: center;
}

input,
textarea {
	border: 1px var(--o) solid;
	color: var(--fg);
	border-radius: 0.75rem;
	background-color: var(--bg);
	transition: box-shadow 100ms;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	resize: none;

	&:focus,
	&:hover {
		box-shadow:
			0 0 0 1.5px var(--bg),
			0 0 0 3.5px var(--p);
	}

	&:focus {
		outline: none;
	}
}

input {
	padding: 0.5rem;

	&:disabled {
		background-color: color-mix(in oklab, var(--fg) 7%, transparent);
		border-color: color-mix(in oklab, var(--fg) 10%, transparent);
		color: color-mix(in oklab, var(--fg) 60%, transparent);
		cursor: not-allowed;
	}

	&[type='datetime-local'] {
		font-size: 0.9rem;
	}
}

textarea {
	padding: 0.35rem;
	line-height: 1.1rem;
}

[data-button-root] {
	background: var(--p);
	color: var(--p-fg);
	padding: 0.5rem 1rem;
	border-radius: 0.75rem;
	cursor: pointer;
	outline: 2px solid var(--p);
	outline-offset: -5px;
	transition: outline-offset 100ms;

	&[href] {
		padding: 0.75rem 1rem;
	}

	&:hover {
		outline-offset: 1px;
	}

	&:disabled,
	&[data-disabled] {
		color: color-mix(in oklab, var(--fg) 50%, transparent);
		background-color: color-mix(in oklab, var(--fg) 10%, transparent);
		opacity: 1;
		cursor: not-allowed;
	}
}

.red-button {
	background-color: var(--red);
	outline-color: var(--red);
}

[data-alert-dialog-overlay] {
	background-color: color-mix(in oklab, #000000 50%, transparent);
	width: 100vw;
	height: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 60;
}

[data-alert-dialog-content] {
	background-color: var(--bg);
	z-index: 70;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	min-width: 25rem;
	width: fit-content;
	height: fit-content;
	padding: 2rem;
	border: 1px solid var(--o);
	border-radius: 1rem;
}

.box {
	margin: auto;
	width: 25rem;
	height: 20rem;
	border: 1px solid var(--o);
	border-radius: 0.75rem;
	padding: 0.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg);
}

.badge {
	width: 6rem;
	cursor: default;
	border-radius: calc(infinity * 1px);
	padding-inline: 0.75rem;
	padding-block: 0.125rem;
	text-align: center;
	font-size: 1rem;
	color: var(--bg);
	user-select: none;
}

[data-switch-root] {
	border-radius: calc(infinity * 1px);
	display: inline-flex;
	height: 25px;
	width: 50px;
	flex-shrink: 0;
	cursor: pointer;
	align-items: center;
	padding-left: 4px;
	padding-right: 5px;
	outline: 2px solid var(--p);
	outline-offset: -5px;
	transition:
		background-color 150ms,
		outline-color 150ms,
		outline-offset 100ms;

	&:hover {
		outline-offset: 1px;
	}

	&[data-state='unchecked'] {
		background-color: var(--s);
		outline-color: var(--s);
	}

	&[data-state='checked'] {
		background-color: var(--p);
		outline-color: var(--p);
	}
}

[data-switch-thumb] {
	background-color: var(--bg);
	pointer-events: none;
	display: block;
	width: 20px;
	height: 17px;
	flex-shrink: 0;
	border-radius: calc(infinity * 1px);
	transition: transform 150ms;

	&[data-state='unchecked'] {
		transform: translteX(0);
	}

	&[data-state='checked'] {
		transform: translateX(22px);
	}
}

[data-tabs-list] {
	border-radius: 0.75rem;
	padding: 0.25rem;
	width: fit-content;
	display: flex;
	gap: 0.1rem;
	background-color: var(--s);
	margin: auto;
	margin-bottom: 0.5rem;
}

[data-tabs-trigger] {
	border-radius: 0.5rem;
	padding: 0.25rem 0.75rem;
	cursor: pointer;

	&[data-state='active'] {
		background-color: var(--bg);
		color: var(--fg);
	}
}
